body {
    background-color: rgb(103, 146, 137);
    color: rgb(7, 30, 34);
    font-family: 'Mukta', sans-serif;
}

h1 {
    font-size: 50px;
}
#apresentaçao {
    color: rgb(16, 71, 69);
}
h2 {
    font-size: 25px;
    
}
h3 {
    font-size: 25px;
}
#cozinhar {
    color:rgb(157, 141, 241) ;
}
#proativo {
    color: rgb(184, 205, 248);
}
#criativo {
    color: rgb(149, 242, 217);
}
#resiliente {
    color: rgb(28, 254, 186);
}

.filmes-que-gosto {
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

.homem-aranha {
    
}

.interestelar {
    
}

.bastardos {
    
}